@inherits RazorCore
@typeparam TModel

<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            @foreach (var column in Columns)
            {
                <th>
                    @switch (column.SortStatus)
                    {
                        case Filters.SortType.None:
                            @((MarkupString)column.GetColumnNameInvoke())
                        break;
                        case Filters.SortType.ASC:
                        <div class="@ClassDefine.Table.SORT_COLUMN">
                            <span>
                                    @((MarkupString)column.GetColumnNameInvoke())
                            </span>
                            <span class="icon">
                                <i class="@CssGGIconDefine.AscArrow"></i>
                            </span>
                        </div>
                        break;
                        case Filters.SortType.DESC:
                            <div class="@ClassDefine.Table.SORT_COLUMN">
                                <span>
                                    @((MarkupString)column.GetColumnNameInvoke())
                                </span>
                                <span class="icon">
                                    <i class="@CssGGIconDefine.DescArrow"></i>
                                </span>
                            </div>
                        break;
                    }
                </th>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="@NumberOfColumn">
                <TableInformationContent @ref="_informationContent" Option="Option.InformationOption" PageNumberResult="Option.PageResult"/>
            </th>
        </tr>
    </tfoot>
    <tbody>
        @foreach(var row in Source)
        {
            <tr>
                @foreach (var column in Columns)
                {
                    
                }
            </tr>
        }
    </tbody>
</table>