@inherits QualRazorComponentBase
@typeparam TModel where TModel:class
@typeparam TProperty

<div class="@CssClasses.FIELD">
    <QualLabel>@ChildContent</QualLabel>
    <div class="@CssClasses.CONTROL">
        <QualInputField Property="@Property" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
    </div>
</div>