@inherits QualRazorComponentBase
@typeparam TProperty

@switch (FieldDataTypes)
{
    case FieldDataType.Check:
        <label class="@CssClasses.Field.CHECKBOX">
            <QualInputField Value="Value" PropertyExpression="PropertyExpression" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
            @ChildContent
        </label>
        break;
    default:
        <QualFieldContainer IsDesktopWidthRestricted="true" WidhStyle="GridWidhStyle.Half">
            <QualLabel>@ChildContent</QualLabel>
            <QualFieldControl>
                <QualInputField Value="Value" PropertyExpression="PropertyExpression" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
            </QualFieldControl>
        </QualFieldContainer>
        break;
}
