@inherits QualRazorComponentBase
@typeparam TProperty

<div class="@CssClasses.FIELD">
    @if (FieldDataTypes == FieldDataType.Check)
    {
        <div class="@CssClasses.CONTROL">
            <QualLabel>
                <QualInputField Value="Value" PropertyExpression="PropertyExpression" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
                @ChildContent
            </QualLabel>
        </div>
    }
    else
    {
        <QualLabel>@ChildContent</QualLabel>
        <div class="@CssClasses.CONTROL">
            <QualInputField Value="Value" PropertyExpression="PropertyExpression" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
        </div>
    }
</div>