@inherits QualRazorComponentBase
@typeparam TProperty

<div class="@CssClasses.FIELD">
    @if (FieldDataTypes == FieldDataType.Check)
    {
        <QualLabel>
            <QualInputField  Value="Value"  PropertyExpression="PropertyExpression" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
            @ChildContent
        </QualLabel>
    }
    else
    {
        <QualLabel>@ChildContent</QualLabel>
        <div class="@CssClasses.CONTROL">
            <QualInputField Value="Value" PropertyExpression="PropertyExpression" Provider="@Provider" FieldDataTypes="@FieldDataTypes" @attributes="MergeAttribute"></QualInputField>
        </div>
    }
</div>