@inherits ButtonCore

@* デスクトップ *@
<button disabled="@DisabledValue" @attributes="AdditionalAttributes" class="@ClassDefine.Button.STYLE @ClassDefine.Button.DESCTOP @ClassDefine.Button.TERTIARY" @onclick="ButtonClick" @onmouseup="ButtonUp" @onmousedown="ButtonDown">
    @if (IconContent is not null)
    {
        <span class="icon">
            @IconContent
        </span>
    }
    <span>
        @ButtonContent
    </span>
</button>
@* モバイル *@
<button disabled="@DisabledValue" @attributes="AdditionalAttributes" class="@ClassDefine.Button.STYLE @ClassDefine.Button.MOBILE @ClassDefine.Button.TERTIARY" @onclick="ButtonClick" @onmouseup="ButtonUp" @onmousedown="ButtonDown">
    @if (IconContent is not null)
    {
        <span class="icon">
            @IconContent
        </span>
    }
    <span>
        @ButtonContent
    </span>
</button>