@using QualRazorLib.Providers.Fields
@using QualRazorLib.Controls.LayoutControls
@inherits OwningComponentBase

<QualHeader SecondaryButtonIcon="gg-loadbar-sound">
    <Title>編集ページ</Title>
    <PrimaryButtonLabel>保存</PrimaryButtonLabel>
</QualHeader>
<QualSection>
    <QualForms Model="Model">
        <ChildContentWithModel Context="model">
            <QualLabeledField Value="model.Name" PropertyExpression="()=>model.Name">Name</QualLabeledField>
            <QualLabeledField Provider="@(new TextFieldProvider(){EditType=BlazorCustomInput.Components.TextEditType.Tel})" Value="model.PhoneNumber" PropertyExpression="()=>model.PhoneNumber">Phone</QualLabeledField>
            <QualLabeledCheckGroupField>
                <LabelContent>チェック</LabelContent>
                <Checks>
                    <QualLabeledField Value="model.IsSupplier" PropertyExpression="()=>model.IsSupplier">Supplier?</QualLabeledField>
                </Checks>
            </QualLabeledCheckGroupField>
            <QualLabeledRadioGroupField Value="model.Address">
                <LabelContent>ラヂオ</LabelContent>
                <Radios>
                    <QualRadio Value="@("0001")">郵便番号0001</QualRadio>
                    <QualRadio Value="@("0002")">郵便番号0002</QualRadio>
                    <QualRadio Value="@("0003")">郵便番号0003</QualRadio>
                </Radios>
            </QualLabeledRadioGroupField>
            <QualLabeledSelectGroupField Value="model.TestState" PropertyExpression="()=>model.TestState">
                <LabelContent>選択</LabelContent>
                <Options>
                    <QualSelectOption TProperty="TestState" Value="null" IsPlaceholder="true">選択してください</QualSelectOption>
                    <QualSelectOption Value="@(new TestState(){Name="a",Idget=0})">Nameがa</QualSelectOption>
                    <QualSelectOption Value="@(new TestState(){Name="b",Idget=1})">Nameがb</QualSelectOption>
                    <QualSelectOption Value="@(new TestState(){Name="c",Idget=2})">Nameがc</QualSelectOption>
                </Options>
            </QualLabeledSelectGroupField>
        </ChildContentWithModel>
    </QualForms>
</QualSection>