@using QualRazorLib.Providers.Fields
@inherits OwningComponentBase

<p class="icon-text is-size-3">
    <span class="icon">
        <i class="gg-loadbar-sound"></i>
    </span>
    <span>
        編集ページ
    </span>
</p>
<section class="section">

    <QualForms Model="Model">
        <ChildContentWithModel Context="model">
            <QualLabeledField Value="model.Name" PropertyExpression="()=>model.Name">Name</QualLabeledField>
            <QualLabeledField Provider="@(new TextFieldProvider(){EditType=BlazorCustomInput.Components.TextEditType.Tel})" Value="model.PhoneNumber" PropertyExpression="()=>model.PhoneNumber">Phone</QualLabeledField>
            <QualLabeledField Value="model.IsSupplier" PropertyExpression="()=>model.IsSupplier">Supplier?</QualLabeledField>
            <QualLabel>ラヂオ</QualLabel>
            <QualLabeledField Value="model.Address" FieldDataTypes="FieldDataType.RadioGroup">
                <QualLabeledField Value="@("0001")" FieldDataTypes="FieldDataType.Radio">郵便番号0001</QualLabeledField>
                <QualLabeledField Value="@("0002")" FieldDataTypes="FieldDataType.Radio">郵便番号0002</QualLabeledField>
                <QualLabeledField Value="@("0003")" FieldDataTypes="FieldDataType.Radio">郵便番号0003</QualLabeledField>
            </QualLabeledField>
            <QualLabel>選択</QualLabel>
            <QualLabeledField Value="model.TestState" FieldDataTypes="FieldDataType.Select" PropertyExpression="()=>model.TestState">
                <BlazorCustomInput.Components.EditorSelectOption Tval="TestState" Value="null" IsPlaceholder="true">選択してください</BlazorCustomInput.Components.EditorSelectOption>
                <BlazorCustomInput.Components.EditorSelectOption Value="@(new TestState(){Name="a",Idget=0})">Nameがa</BlazorCustomInput.Components.EditorSelectOption>
                <BlazorCustomInput.Components.EditorSelectOption Value="@(new TestState(){Name="b",Idget=1})">Nameがb</BlazorCustomInput.Components.EditorSelectOption>
                <BlazorCustomInput.Components.EditorSelectOption Value="@(new TestState(){Name="c",Idget=2})">Nameがc</BlazorCustomInput.Components.EditorSelectOption>
            </QualLabeledField>
        </ChildContentWithModel>
    </QualForms>
</section>